<!doctype html>
<html lang="es">
	{% include head.html %}
  <body>
	<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo-texto-rojo.svg" style="height: 35px; margin-top: -5px;" /></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto align-items-lg-center gap-lg-3">
					<li class="nav-item">
						<a class="nav-link{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}/">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link{% if page.url contains '/ourwork' %} active{% endif %}" href="{{ site.baseurl }}/ourwork">Qué hacemos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link{% if page.url contains '/about' %} active{% endif %}" href="{{ site.baseurl }}/about">Quiénes somos</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-cf btn-cf-red btn-sm nav-cta" href="{{ site.baseurl }}/contact">Contacto</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
		<div class="container">
		  {{ content }}
		</div>
    {% include footer.html %}
  </body>
</html>